:root {
    font-size: 15px;
}

a {
    color: #42504a;
}

body {
    font-family: sans-serif;
}

.accordion,
.eval-box {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

.accordion-button {
    background-color: #E7F1FF;
    border: 1px solid #8F8F8F;
    text-transform: uppercase;
}

body {
    background-color: #AECFF9;
    padding: 4vw;
}

.button {
    border: 2px solid #999;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;
}

#courses * {
    border: 1px dashed black;
}

.eval-box {
    background-color: white;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
}

#eval-btn {
    margin: 25px;
}

.eval-button,
.print-button {
    text-align: center;
}

.gpa-popup-show,
.math-popup-show {
    display: block;
    padding-left: 3vw;
}

h1 {
    font-size: 2rem;
}

table, table * {
    margin: auto;
    padding: 0.5vw;
    text-align: center;
}

header {
    background-color: #FEFEFE;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.help {
    color: gray;
}

.hidden {
    display: none;
}

.hs-name-show {
    display: inline;
}

.input-block {
    padding: 10px 0px;
}

#input-id-label {
    padding-left: 50px;
}

input,
select {
    margin-left: 10px;
}

#mm-gpa-rb-block, #mm-gpa-rb-block div, #mm-gpa-block * {
    display: inline;
}

#mm-gpa-block .scale .mm-gpa {
    margin: 0 10px;
}

#mm-gpa-rb-block div {
    padding-left: 15px;
}

output {
    display: block;
    padding: 0.4vw;
    text-align: center;
}

#page-heading-logo {
    padding-right: 1vw;
}

.sat-help-popup:not(.hidden), .acc-help-popup:not(.hidden) {
    display: inline;
    padding-left: 10px;
}

.score-input>label::before, #unofficial-disclaimer::before {
    content: "*";
    color: gray;
}

.see-advising {
    padding-top: 20px;
}

.student-creds {
    padding-top: 20px;
}

.student-id,
.student-name {
    display: inline;
}

#unofficial-disclaimer {
    color: gray;
    text-align: center;
}