:root {
    font-size: 15px;
}

.accordion,
.eval-box {
    margin-top: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.accordion-button {
    text-transform: uppercase;
    background-color: #E7F1FF;
    border: 1px solid #8F8F8F;
}

body {
    padding: 4vw;
    background-color: lightblue;
}

.button,
button[id^="add-another-"] {
    padding: 5px;
    border: 2px solid #999;
    border-radius: 3px;
    font-size: 0.9rem;
}


/*button[id^="add-another-"] {
    display: inline;
}*/

.eval-box {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#eval-btn {
    margin: 25px;
}

.eval-button,
.print-button {
    text-align: center;
}

.gpa-popup-show,
.math-popup-show {
    display: block;
    padding-left: 3vw;
}

h1 {
    font-size: 2rem;
}

h5 {
    text-align: center;
}

header {
    background-color: #FEFEFE;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.help {
    color: gray;
}

.hidden {
    display: none;
}

.hs-name-show {
    display: inline;
}

.input-block {
    padding: 10px 0px;
}

#input-id-label {
    padding-left: 50px;
}

input,
select {
    margin-left: 10px;
}

#page-heading-logo {
    padding-right: 1vw;
}

.sat-help-popup:not(.hidden), .acc-help-popup:not(.hidden) {
    display: inline;
    padding-left: 10px;
}

.score-input>label::before, #unofficial-disclaimer::before {
    content: "*";
    color: gray;
}

.see-advising {
    padding-top: 20px;
}

.student-creds {
    padding-top: 20px;
}

.student-id,
.student-name {
    display: inline;
}

#unofficial-disclaimer {
    color: gray;
    text-align: center;
}