:root {
    font-size: 13px;
}

.accordion, .eval-box {
    margin-top: 10px;
    box-shadow:  3px 3px 3px 3px rgba(0,0,0,0.2);
}

body {
    padding: 30px;
    background-color: #CFD6FC;
}

#input-id-label {
    padding-left: 0px;
}

#input-name-label {
    padding-bottom: 2vh;
}

.student-id {
    display: block;
}