@page {
	size: letter;
	margin: 0.5in;
}

a {
	text-decoration: none;
}

a, body {
	color: black;
}

body {
	background: none;
}

body *, .eval-box {
	box-shadow: none;
}

.eval-box {
	page-break-inside: avoid;
}

h1 {
	font-size: 24px;
}

.input-block {
	padding-left: 20px;
}

.input-block p {
	font-weight: bold;
}

.input-block, .student-creds * {
	display: inline;
}
label{
	display: none;
}