@page {
	size: letter;
	margin: 0.5in;
}

a {
	text-decoration: none;
}

a, body {
	color: black;
}

body {
	background: none;
	font-family: sans-serif;
}

body *, .eval-box {
	box-shadow: none;
}

.eval-box {
	page-break-inside: avoid;
}

h1{
	font-size: 26px;
}

.input-block {
	padding-left: 20px;
	display: table;
    width: 100%
}

.input-block p {
	font-weight: none;
	display: table-cell;
    padding: 0 0 0 5px
	
}
label{
	font-weight: bold;
	font-size: 18px;
	display: table-cell;
    width: 1px;
    white-space: nowrap
}
.img{
	font-size: 50px;
	text-align: center;

}
